.counterCard{
    /* border: 2px solid rgb(224, 213, 7); */
    width: 300px;
    height: 180px;
    margin: 35px;
    background-color: #46433700;
    /* box-shadow: 1px 0px 20px 1px rgba(255,255,255,1); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
   
    
}
/* .counterCard:hover{
    background-image: url(./img/wolrd.jpg);
    opacity: 0.5;
    
} */

.image{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin:10px;     */
    background-image: url(img/wolrd.jpg);
  /* background: #12ccd3ca; */
  width: 18.5vw;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(9, 9, 9, 0.584);
}
.image > img{
    max-width: 100vw;
    max-height: 25.5vh;
    justify-items: center;
    /* height: 100%; */
    /* height: auto; */
  }

.letra {
    font-size: 1.2rem;
    text-align: center;
    line-height: 2em;
    color: rgb(246, 247, 249);
    font-family: 'Times New Roman', Times, serif;
  }

  .item {
    width: 100%;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
  }
  .item .image:before {
    /* content: ''; */
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
   }
  .item:nth-of-type(4n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+1) .image:before {
    transform: rotate(6deg);
    height: 20%;
    width: 100%;
    bottom: 30px;
    right: 5px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
  }

  .item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
  }
  .item:hover .image:before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
    transition: all 0.35s;
  } 

/* body {
  font-family: 'Poor Story', cursive;
  background: #bdffbd;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}
 */