.nav{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5bb0d7;
  padding: 10px;
  z-index: 999;
}

.menu{
  
  list-style: none;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}
.btn{
  margin-right: 10px;
  cursor: pointer;
}
.btn:hover {
    color: #f1a488;
  }